@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    background-color: white;
    justify-content: center;
    height: 75px;
    align-items: center; 
    border-top: 2px solid bisque;
}
  
.buttons{
    color: black;
    display: flex;
    font-size: large;
    font-weight: bold;
}
  
.buttons li {
    padding-left: 25px;
    padding-right: 25px;
}
  
.buttons li:hover{
    color: #01756f;
}

.footer{
    display: flex;
    background-color: black;
    justify-content: center;
    height: 50px;
    align-items: center;   
    color: white;      
}